@font-face {
  font-family: "Poppins-ExtraLight";
  src: url("../url/Poppins-ExtraLight.ttf");
}

body {
  /*----------------PARTIE HEADER-----------------*/
  /*----------SECTION 01 -----------*/
  /*----------SECTION 02 -----------*/
  /*----------SECTION 03 -----------*/
  /*----------SECTION 04 -----------*/
  /*----------SECTION 05 -----------*/
  /*----------FOOTER  -----------*/
  /*-----------------PARTIE SOLUTION ------------------------*/
}

body .navbar > .container,
body .navbar > .container-fluid,
body .navbar > .container-lg,
body .navbar > .container-md,
body .navbar > .container-sm,
body .navbar > .container-xl,
body .navbar > .container-xxl {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  text-align: end;
}

body .img-section {
  background: url(images/fond.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

body i {
  font-size: 2.5rem;
  color: #4FA1C9;
}

body span {
  color: #4FA1C9;
}

body .font-size {
  font-size: 0.9rem;
}

body .btn-color {
  color: #FFFFFF !important;
  background-color: #4FA1C9 !important;
}

body .btn-color-white {
  background-color: #FFFFFF !important;
}

body .btn-color:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

body .text-color {
  color: #4FA1C9 !important;
}

body .bg-color {
  background-color: #4FA1C9 !important;
}

body .custom-header {
  position: fixed;
  z-index: 20;
}

body header .text-bg-custom {
  background: #4FA1C9 !important;
}

body header .me-custom {
  margin-right: auto !important;
}

body header ul li .active_link {
  color: #4FA1C9 !important;
}

body header ul li a {
  color: #FFFFFF !important;
}

body header ul li a:hover {
  color: #4FA1C9 !important;
}

body .section01 div .carousel-caption {
  top: 50%;
}

body .section01 div .custom-visibilite {
  z-index: 10;
}

body .section01 div .col-3 {
  width: 22%;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: justify;
}

body .section01 div .col-3 img {
  border-radius: 0.2rem;
}

body .section01 div .col-3 div p {
  font-size: 0.8rem;
}

body .section01 div .btn-color {
  color: #FFFFFF !important;
  background-color: #4FA1C9 !important;
}

body .section01 div .btn-color:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

body .section01 div h1 {
  font-size: 3rem;
}

body .section01 div .carousel {
  margin-bottom: 3rem;
}

body .section01 div .carousel-item {
  width: 100%;
  height: 100vh;
}

body .section01 div .carousel-caption {
  bottom: 0;
}

body .section01 div div .btn-color {
  color: #FFFFFF !important;
  background-color: #4FA1C9 !important;
}

body .section01 div div .btn-color:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

body .section01 div div span {
  color: #4FA1C9 !important;
}

body .section01 .bg-custom {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

body .section01 li {
  list-style: none;
}

body .section01 .p-custom {
  font-size: 0.8rem;
}

body .section01 .pb-5-custom {
  height: 60vh;
}

body .section01 .custom-image {
  background: url(images/slide3.jpg) no-repeat;
  width: 100%;
  height: 38vh;
  background-position: fixed !important;
  background-size: cover;
}

body .section01 .image-actu {
  background: url(images/fond8.jpg) no-repeat;
  width: 100%;
  height: 38vh;
  background-position: fixed !important;
  background-size: cover;
}

body .section01 .pt-5-custom {
  padding-top: 5rem;
}

body .section02 div table {
  font-size: 0.9rem;
}

body .section02 div div form .btn:hover {
  color: black !important;
}

body .section02 div div div .list-group {
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
  display: "";
}

body .section02 div div div div ul {
  font-size: 0.7rem;
}

body .section02 div div div div ul li {
  list-style: none;
}

body .section02 div div div div ul .active {
  background: #4FA1C9 !important;
  border: 1px solid #4FA1C9 !important;
  color: white !important;
}

body .section02 div div div div div div p {
  font-size: 0.8rem;
  color: #4FA1C9;
}

body .section02 div div div div div div ul li {
  font-size: 0.9rem;
}

body .section02 div .border-custom {
  border-radius: 0.2rem;
}

body .section02 div .border-custom div p {
  font-size: 0.8rem;
}

body .section02 .div-custom-p p {
  font-size: 0.9rem;
}

body .section02 .col-4 {
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
}

body .section02 .col-4 img {
  border-radius: 0.2rem;
}

body .section02 .col-4 div {
  text-align: center;
}

body .section02 .col-4 div p {
  font-size: 0.9rem;
}

body .section02 .ms-custom {
  padding-left: 1rem;
}

body .section02 .ms-custom-p {
  padding-left: 1rem;
}

body .section02 .del-later {
  height: 100vh;
}

body .section02 .btn-color {
  color: #FFFFFF !important;
  background-color: #4FA1C9 !important;
}

body .section02 .btn:hover {
  color: black !important;
  border: 1px solid black !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

body .section03 div div .div .active {
  background: #4FA1C9 !important;
  border: 1px solid #4FA1C9 !important;
  color: white !important;
}

body .section03 div div .div a {
  color: black;
}

body .section03 div div .div a:hover {
  color: #4FA1C9;
}

body .section03 div div div div div div ul li {
  font-size: 0.9rem;
  padding-bottom: 0.3rem;
  list-style-type: square;
}

body .section03 .marketing-custom div p {
  font-size: 0.859rem;
}

body .section03 .btn-color {
  color: #FFFFFF !important;
  background-color: #4FA1C9 !important;
}

body .section03 .btn:hover {
  color: black !important;
  border: 1px solid black !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

body .section04 {
  background: url(images/headway-5QgIuuBxKwM-unsplash.jpg) no-repeat;
  width: 100%;
  height: 700px;
  background-position: fixed !important;
  background-size: cover;
}

body .section04 .btn-color {
  color: #FFFFFF !important;
  background-color: #4FA1C9 !important;
}

body .section04 .btn:hover {
  color: #FFFFFF !important;
  border: 1px solid #FFFFFF !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

body .section04 .w-custom {
  width: 30%;
  margin: 0 auto;
  background-color: #FFFFFF;
}

body .section04 p {
  font-size: 0.8rem;
}

body .section05 .btn-color {
  color: #FFFFFF !important;
  background-color: #4FA1C9 !important;
}

body .section05 .btn:hover {
  color: black !important;
  border: 1px solid black !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

body .section05 .ms-custom {
  margin-left: 6rem;
}

body footer div p {
  font-size: 0.8rem;
  text-align: justify;
}

body footer div a {
  font-size: 0.9rem;
  color: #4FA1C9;
}

body footer div li {
  list-style-type: none;
  padding-left: 1rem;
}

body footer div i {
  font-size: 1.7rem;
}

@media (max-width: 768px) {
  body .section01 div .align {
    text-align: center !important;
  }
  body .section01 div .carousel-caption {
    top: 30% !important;
  }
  body .section01 div .carousel-item {
    height: 50vh !important;
  }
  body .section01 div div h1 {
    font-size: 1rem !important;
  }
  body .section03 div div {
    padding-bottom: 0 !important;
  }
  body .section03 div div div i {
    margin-top: 1rem !important;
  }
  body .section03 div div div .imgcustom {
    display: none;
  }
  body .section03 div div div div .col-xs-12-img {
    width: 100% !important;
    padding-left: 10% !important;
  }
  body .section04 {
    height: 110vh;
  }
  body .section04 .w-custom {
    margin: 1rem 1rem 0.9rem 0.75rem !important;
    width: 42%;
  }
  body .section04 img {
    width: 60%;
  }
  body .section04 .urg {
    padding-top: 1rem !important;
    padding-bottom: 2.5rem;
  }
  body footer div div div p {
    font-size: 1rem !important;
  }
}
/*# sourceMappingURL=style.css.map */